:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  // color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  --border: 2px inset rgba(200,200,200, 0.5);
  --transition: all .5s;
  --aColor: #646cff;
}

.theme-light{
--color: rgba(0,0,0, 0.9);
--background: rgba(255,255,255, 0.9);

}

.theme-dark{
  --color: rgba(255,255,255, 0.9);
  --background: rgba(0,0,0, 0.9);
  // --border: 2px inset transparent;
}



body {
  color: var(--color);
  background: var(--background);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: var(--transition);
}

a{
  color: var(--color);
  transition: var(--transition);
  &:hover{
    color: var(--aColor);
  }
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border-radius: 8px;
  border: var(--border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color);
  background-color: var(--background);
  cursor: pointer;
  transition: var(--transition);
  &:hover {
  border-color: #646cff;
  }
  &:focus,:focus-visible{
    outline: 4px auto -webkit-focus-ring-color;
    // background-color: var(--aColor);
  }
  &:active{
    background-color: var(--aColor);
    transform: scale(.9);
    transition: var(--transition)
  }
}


